/* StudentResultsTable.css */
.table-container {
  width: 100%;
  max-width: 600px; /* Adjusted max-width */
  margin: 0 auto; /* Center the table */
  border: 1px solid #ddd; /* Border around the table */
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th {
  background-color: #f2f2f2;
  padding: 8px; /* Adjusted padding */
  text-align: center;
  border-bottom: 2px solid #ddd;
  font-weight: bold;
  font-size: 12px; /* Adjusted font size */
  color: #333;
}

.table td {
  padding: 8px; /* Adjusted padding */
  border-bottom: 1px solid #ddd;
  font-size: 12px; /* Adjusted font size */
  color: #555;
}

.table td:last-child {
  text-align: right;
}

.table td.center-align {
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f2f2f2;
}
